<p-panel class="bg-blue-300" header="Tabelle">
    <p-table [value]="table" [loading]="loading" responsiveLayout="stack" breakpoint="680px">
      <ng-template pTemplate="caption">
        Spieltag {{matchDay}}
      </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Mannschaft</th>
                <th>Sp</th>
                <th>P</th>
                <th>TD</th>
                <th>S</th>
                <th>U</th>
                <th>N</th>
                <th>T</th>
                <th>GT</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-team>
            <tr>
                <td><span class="p-column-title">Mannschaft</span>{{team.TeamName}}</td>
                <td><span class="p-column-title">Spiele</span>{{team.Matches}}</td>
                <td><span class="p-column-title">Punkte</span>{{team.Points}}</td>
                <td><span class="p-column-title">Tordifferenz</span>{{team.Goals - team.OpponentGoals}}</td>
                <td><span class="p-column-title">Siege</span>{{team.Won}}</td>
                <td><span class="p-column-title">Unentschieden</span>{{team.Draw}}</td>
                <td><span class="p-column-title">Niederlagen</span>{{team.Lost}}</td>
                <td><span class="p-column-title">Tore</span>{{team.Goals}}</td>
                <td><span class="p-column-title">Gegentore</span>{{team.OpponentGoals}}</td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>
